# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# MLflow
mlruns/
mlflow.db

# Data / artifacts (optional)
Data/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Docker
*.tar

# VS Code
.vscode/
